<%- include("partials/header.ejs") %>
<% if (locals.article) { %>
  <h2><%=article.name%></h2>
  <h4>by<%=article.author%></h4>
  <p><%=article.text%></p>
  <form action="/edit" method="POST">
  <button type="submit" class="btn btn-primary" name="articleName" value="<%=article.name%>">
  edit
  </button>
  </form>
  <a class="btn btn-primary" name="name" href="/">back to home</a>
  <form action="/delete" method="POST">
  <button type="submit" class="btn btn-link p-0" name="articleName" value="<%=article.name%>">
  delete
  </button>
  </form>
<% } else { %>
  <h2>No article to display</h2>
  <a class="btn primary" name="name" href="/">back to home</a>
<% } %>
