<%- include("partials/header.ejs") %>
<% if (locals.article) { %>
 <h2>Editing Article: <%=article.name%></h2>
<% } else { %>
<h1>New Article</h1>
<% } %>
<form action="/new" method="POST">
  <input name="name" type="text" class="feedback-input" placeholder="Name" value="<%= locals.article ? locals.article.name : null %>" />
  <input name="author" type="text" class="feedback-input" placeholder="Author Name" value="<%= locals.article ? locals.article.author : null %>" />
  <textarea name="text" class="feedback-input" placeholder="Comment"><%= locals.article ? locals.article.text : null %></textarea>
  <button type="submit" value="SUBMIT">Create Article</button>
</form>

<%- include("partials/footer.ejs") %>